{{#with require}}
<article class="require">
    <header role="group">
        <h4 class="require__title">{{#localize}}Requires{{/localize}}</h4>
    </header>
    <section>
        <ul class="require__list">
        {{#each this}}
            {{#with item}}
                <li class="require__list-item">
                    <a class="require__list-link" href="#{{context.type}}-{{context.name}}">
                        <span class="require__list-type{{typeClass context.type}}">{{trimType context.type}}</span>
                        <span class="require__list-name">{{context.name}}</span>
                    </a>
                </li>
            {{/with}}
        {{/each}}
        </ul>
    </section>
</article>
{{/with}}
