{{#with usedBy}}
<article class="usedby">
    <header role="group">
        <h4 class="usedby__title">{{#localize}}Used by{{/localize}}</h4>
    </header>
    <section>
        <ul class="usedby__list">
        {{#each this}}
            <li class="usedby__list-item">
                <a class="usedby__list-link" href="#{{context.type}}-{{context.name}}">
                    <span class="usedby__list-type{{typeClass context.type}}">{{trimType context.type}}</span>
                    <span class="usedby__list-name">{{context.name}}</span>
                </a>
            </li>
        {{/each}}
        </ul>
    </section>
</article>
{{/with}}
