<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/layout.css">
    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/animate-custom.css">
    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/fontello.css">
    <link rel="stylesheet" href="https://infragistics.com/css/navigation.css">
    <link rel="stylesheet" href="https://infragistics.com/css/footer.css">
    <link rel="stylesheet" href="https://infragistics.com/css/navigation.css">
    <link rel="stylesheet" href="https://infragistics.com/css/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zhy2hpz.css">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "{{gaID}}");
    </script>
    <!-- End Google Tag Manager -->
</head>
<body id="body" data-base-url="{{envUrl}}">

    <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{gaID}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-2 col-menu menu-sticky-wrap menu-highlight">

            <div id="tsd-search" class="tsd-search" data-index="{{relativeURL "assets/js/search.js"}}" data-base="{{relativeURL "./"}}">
                <div class="field">
                    <label for="tsd-search-field" class="material-icons">search</label>
                    <input id="tsd-search-field" type="text" placeholder="Search API..."/>
                </div>

                <ul class="results">
                    <li class="state loading">Preparing search index...</li>
                    <li class="state failure">The search index is not available</li>
                </ul>
            </div>

            <div id="tsd-filter">
                <div class="tsd-filter-group">
                    <div class="tsd-select" id="tsd-filter-visibility">
                        <span class="tsd-select-label">All</span>
                        <ul class="tsd-select-list">
                            <li data-value="public">Public</li>
                            <li data-value="protected">Public/Protected</li>
                            <li data-value="private" class="selected">All</li>
                        </ul>
                    </div>

                    <input type="checkbox" id="tsd-filter-inherited" checked />
                    <label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>

                    {{#unless settings.excludeExternals}}
                        <input type="checkbox" id="tsd-filter-externals" checked />
                        <label class="tsd-widget" for="tsd-filter-externals">Externals</label>
                    {{/unless}}

                    {{#unless settings.excludeNotExported}}
                        <input type="checkbox" id="tsd-filter-only-exported" />
                        <label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>
                    {{/unless}}
                </div>
            </div>

            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>

        <div class="col-10 col-content">

            <div class="tsd-page-title">
                <div class="container">
                    <ul class="tsd-breadcrumb">
                        {{#with model}}{{> breadcrumb}}{{/with}}
                    </ul>
                    <h1>{{#compact}}
                        {{model.kindString}}&nbsp;
                        {{model.name}}
                        {{#if model.typeParameters}}
                            &lt;
                            {{#each model.typeParameters}}
                                {{#if @index}},&nbsp;{{/if}}
                                {{name}}
                            {{/each}}
                            &gt;
                        {{/if}}
                    {{/compact}}</h1>
                </div>
            </div>

            {{{contents}}}
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://infragistics.com/assets/modern/scripts/jquery-migrate.min.js"></script>
<script type="text/javascript" src="https://infragistics.com/assets/modern/scripts/plugins.nav.js"></script>
<script type="text/javascript" src="https://infragistics.com/assets/modern/scripts/navigation.js"></script>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
{{> analytics}}

</body>
</html>
